*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/book.jpeg);
	background-size: cover;
	background-position: center;
}

nav {
	height: 75px;
	/*border-bottom: 2px solid whitesmoke;*/
	background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	/*border-bottom: 2px solid whitesmoke;*/
	/*position: sticky;
	top: 0;*/
}

nav ul {
	display: flex;
	list-style-type: none;
}

nav ul li {
	margin: 0 20px;
	color: #FFFAFA;
	padding: 10px 30px;
	border-radius: 10px
}

nav ul li:hover {
	background-color: #FFD700;
	color: black;
}

nav ul li a {
	text-decoration: none;
	margin: 0 20px;
	color: #FFFAFA;
	border-radius: 10px;
}

.top-heading {
	display: flex;
	justify-content: center;
	margin-top: 140px;

}

.intro {
	/*background: green;*/
	color: #FFFAFA;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}

.intro h1 {
	font-size: 80px;
	word-spacing: 1px;
}

.intro h2 {
	font-size: 50px;
	padding: 5px 200px;
}

.intro p {
	font-size: 40px;
	padding: 0 250px;
}

hr {
	color: 1px solid #FFD700;
	margin: 5px 0;
}

.about-me {
	height: 80vh;
	text-align: center;
	
}

.title {
	height: 10vh;
	/*background: red;*/
	margin: 30px;
}

.title h1 {
	font-size: 40px;
}

.split-about {
	display: flex;
	justify-content: center;
}

.photo img {
	height: 350px;
	border: 8px solid black;
	border-radius: 50%;
	margin: 0 25px;
}

.description {
	/*background: blue;*/
	width: 45rem;
	text-align: justify;
	font-size: 25px;
	padding: 40px 0;
}

.projects {
	text-align: center;
	margin: 50px;
	height: 110vh;
	/*background: gray;*/

}

.project-head {
	height: 15vh;
	padding: 15px;
	/*background: green;*/
}

.project-head h1 {
	font-size: 40px;

}

.project-type {
	display: flex;
	justify-content: space-around;
}

.projects img {
	height: 250px;
	width: 310px;
}

.capstone1, .capstone2, .capstone3 {
	height: 450px;
	width: 310px;
	border: 1px solid black;
	box-shadow: 7px 7px 7px 0 #888888;
	/*background: blue;*/
}

.capstone1:hover, .capstone2:hover, .capstone3:hover {
	transform: scale(1.1);
	transition: 0.6s;
	box-shadow: 5px 10px 10px 10px #888888;
}
	
.btn-view {
	padding: 10px 20px;
	border-radius: 15px;
	border: none;
	font-size: 16px;
	position: relative;
	background: #D2691E;
	text-decoration: none;

}

.btn-view:hover {
	background: #8B4513;
	border: 2px solid black;
	font-weight: bold;
}

.btn-view a:hover {
	color: whitesmoke;
	text-decoration: none;
	background: #8B4513;
}

.btn-view a:visited {
	color: whitesmoke;
	text-decoration: none;
	background: #8B4513;
}


.skills {
	height: 120vh;
	text-align: center;
	/*background: blue;*/
}

.skill-head {
	height: 20vh;
	/*background: red;*/
	padding: 30px;
	border-bottom: 2px solid black;
}

.skill-head h1 {
	font-size: 40px;
}

.skills img {
	height: 250px;
	width: 300px;
	margin: 10px 0;
	border-radius: 60%;
}

.skills ul li {
	list-style-type: none;
}

.skill-one, .skill-two {
	display: flex;
}

.skill-left1 {
	height: 50vh;
	width: 35vw;
	/*background: yellow;*/
}

.skill-right1 {
	height: 50vh;
	width: 65vw;
	padding: 15px;
	/*background: salmon;*/
}

.skill-right1 h2 {
	font-size: 30px;
}

.skill-right1 li {
	font-size: 25px;
}
.skill-right1 p {
	font-size: 20px;
}


.skill-left2 {
	height: 50vh;
	width: 65vw;
	/*background: yellow;*/
	padding: 30px;
}

.skill-right2 {
	height: 50vh;
	width: 35vw;
	/*background: salmon;*/
}

.skill-right1 h2 {

}

.skill-left2 h2 {
	font-size: 30px;
}

.skill-left2  li {
	font-size: 25px;
}
.skill-left2 p {
	font-size: 20px;
}

.contact-me {
	margin-top: 80px;
	height: 90vh;
	justify-content: space-around;
	display: flex;
	text-align: center;
}

.contact {
	height: 60vh;
	/*background: yellow;*/
	
}

.contact h3 {
	font-size: 30px;
}

input {
	border: 2.0px solid black;
	margin: 20px 0;
	height: 40px;
	width: 35vw;
	border-radius: 10px;
	font-size: 17px;
	display: block;
}

.icons {
	/*background: red;*/
	width: 40vw;
	height: 30vh;

}

.icons h3 {
	padding-top: 25px;
	font-size: 30px;
}	

i {
	padding-top: 20px;
	font-size: 80px;
	margin: 0 25px;
}

.btn-submit {
	padding: 10px 20px;
	border-radius: 15px;
	border: none;
	font-size: 16px;
	position: relative;
	background: yellow;
	text-decoration: none;
}

.btn-submit:hover {
	background: #8B4513;
	border: 2px solid black;
	font-weight: bold;
}

.btn-submit a:hover {
	color: whitesmoke;
	text-decoration: none;
	background: gray;
}

.btn-submit a:visited {
	color: whitesmoke;
	text-decoration: none;
	background: #8B4513;
}


/*Media Query for Mobile*/
@media only screen and (min-width: 375px) and (max-width: 600px) {
	header {
		width: 55rem;
	}

	nav ul li {
		font-size: 14px;
	}

	.about-me {
		margin: 20px;
		width: 50rem;
		display: block;
	}

	.about-me img {
		margin: 0;
	}

	.projects {
		width: 45rem;
		height: 90vh;
	}

	.skills {
		height: 120vh;
		width: 55rem;
	}

	.skill-right1 {
		height: 40vh;
		width: 50rem;
	}

	.skill-right1 {
		font-size: 14px;
	}

	.skill-two {
		margin-top: 50px;
	}

	.skill-left2 {
		width: 30rem;
	}

	.contact-me {
		width: 50rem;
	}

	input {
		width: 300px;
	}
}


/*Media Query for Tablet*/
@media only screen and (min-width: 768px) and (max-width: 800px) {
	header {
		width: 53rem;
	}

	.about-me {
		margin-top: 80px;
		height: 70vh;
	}

	.projects {
		height: 65vh;
	}

	.skills {
		width: 53rem;
		height: 100vh;
	}

	.skills hr {
		height: 30vh;
	}

	.skill-right1 {
		width: 40rem;
	}

	.contact-me {
		height: 40vh;
		margin-top: 60px;
	}

	.contact {
		margin-left: 90px;
	}

}	